@using TiendaOnline.Areas.Publica.Models
@model HomeViewModel

@{
    ViewData["Titulo"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/estiloHome.css" />
}

<!-- Section principal/portada-->
<section class="full-background d-flex align-items-center justify-content-center text-center text-white" style="background-image: url('@Model.ImagenUrl');">
    <div class="container">
        <h1 class="display-4 fw-bold">@Model.Titulo</h1>
        <p class="lead mb-4">
           @Model.Descripcion
        </p>
        <a href="#" class="btn btn-dark btn-lg">IR A COMPRAR</a>
    </div>
</section>

<!--  TODO Section productos destacados-->





