@using TiendaOnline.Areas.Publica.Models
@model HomeViewModel

@{
    ViewData["Titulo"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/estiloHome.css" />
}

<!-- EJEMPLO DE LO QUE BUSCO-->

<section class="full-background d-flex align-items-center justify-content-center text-center text-white" style="background-image: url('@Model.ImagenUrl');">
    <div class="container">
        <h1 class="display-4 fw-bold">@Model.Titulo</h1>
        <p class="lead mb-4">
           @Model.Descripcion
        </p>
        <a href="#" class="btn btn-dark btn-lg">IR A COMPRAR</a>
    </div>
</section>

<!--<section class="py-5 bg-light text-center">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6 text-md-start">
                <h1 class="display-4 fw-bold text-dark">Bienvenido a StreetSize</h1>
                <p class="lead text-muted">
                    We started with humble beginnings – selling out of our basement and frantically shipping orders as soon as we wake up.
                </p>
                <a href="#" class="btn btn-dark btn-lg mt-3">SHOP NOW</a>
            </div>
            <div class="col-md-6">
                <img src="~/images//51f7191bd47f34a131a3aa1d766b71ef.jpg" alt="Imagen introduccion web" class=""/>
            </div>
        </div>
    </div>
</section> -->



