@using TiendaOnline.Areas.Publica.Models
@model HomeViewModel

@{
    ViewData["Title"] = "USUARIO";
}

<div class="card w-100">
    
    <div class="card-header display-2 text-center">@Model.Titulo</div>
    <div class="card-body text-center">
        <p class="card-text">
            @Model.Descripcion
        </p>
    </div>

</div>