
.cuadro-producto {
    transform: scale(0.9); /* Reduce el tamaño general */
}

/* TODO : Ajustar el tamaño de la tarjeta del producto y la imagen dentro de ella
*/

.card-img-top {
    width: 100%;
    height: 40em; /* Ajusta según tu diseño */
    object-fit: cover; /* Recorta sin deformar */
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Asegura que todas las tarjetas tengan la misma altura */
}

.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
   
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

    
